<! DOCTYPE html>
<html lang="en">
    <head>
        <title>Choose a Search Method</title>
        <link rel=""stylesheet" href="/static/style.css">
    </head>
    <body>
        <div class="container"?
        <h2>How would you like to search?</h2>
        <p>
            Choose one of the options below!
        </p>
        <div class="card">
            <h3>Search by Symptoms</h3>
            <a href="/by-symptom" class="button">
                Search by Symptoms
            </a>
        </div>

        <div class="card">
            <h3>Search by Strain Name</h3>
            <a href="/by-strain" class="button">
                Search by Strain
            </a>
        </div>
    </body>
</html>