<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Probiotic Finder</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>

    <body>
        <div class="container">
            <h1>Probiotic Finder</h1>
            <p>
                Not sure which probiotic strain is right for you?
                This program is designed to help you in two ways:
            </p>
            <ul>
                <li>Explore probiotic strains by symptom</li>
                <li>Search directly by strain name</li>
            </ul>
            <p class="disclaimer">
                This website is for educational purposes only and does not provide medical advice.
            </p>
            <a href="/choose" class="button">
                Get Started
            </a>
        </div>

    </body>
</html>